<div id="myModalNote" class="reveal-modal" data-reveal>
  <!-- CR use partials and locals so you have access to @note and then you can just do form_for @note -->
 <%= form_for "note", :html => {:id => "noteForm"}, url: notes_path, :method => :post do |f|%>
    <%= f.label :note  %>
    <%= f.text_field :comment, class: "form-control"  %>
    <br>
    <%= f.label :image  %>
    <%= f.file_field :image, class: "form-control" %>
    <br>
    <!-- CR shouldn't need an id on the submit because the form already has an id -->
    <a href="#"><%= f.submit :Submit, id: "noteSubmit",class: "button expand" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
