<div id="myModalNote" class="reveal-modal" data-reveal>
  <%= form_for "note", :url => notes_path, :html => { :multipart => true } do |form| %>
    <%= form.label :comment  %>
    <%= form.text_field :comment, class: "form-control"  %>
    <%= form.label :image  %>
    <%= form.file_field :image %>
    <a href="#"><%= form.submit class: "button expand" %></a>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>