<%= render "shared/nav" %>
<%= render "shared/about" %>

<div class="user-info">
  <%= render "user_banner" %>
</div>

<%= render "shared/map" %>

<div class="carousel">
  <%= render "shared/note_carousel" %>
</div>

