<%= stylesheet_link_tag  "users" %>
<%= render "nav" %>

<header class="band">

    <div class="container">

        <div class="columns sixteen">

        </div><!--/ columns-->

    </div><!--/ container-->

</header><!--/ band-->

<div class="band main">

    <div class="container">

        <div class="columns twelve offset-by-two">

        </div><!--/ column-->

    </div><!--/ container-->

</div><!--/ main-->

<div class="band main">

    <div class="container">

        <hr>

        <div class="columns six offset-by-two">

        </div><!--/ column-->

        <div class="columns six">

        </div><!--/ column-->

    </div><!--/ container-->

</div><!--/ main-->

<footer class="band main">

    <hr>

    <div class="container">

        <div class="columns eight">

        </div><!--/ column-->

        <div class="columns eight last">

        </div><!--/ column-->

    </div><!--/ container-->

</footer><!--/ main-->


<div class="user-info" id="box">
  <%= render "user_banner" %>
</div>


  <%= render "map" %>


<div class="carousel">
  <%= render "note_carousel" %>
</div>

