<div id="myModalNote" class="reveal-modal" data-reveal>
 <%= form_for "note", url: notes_path, :method => :post do |f|%>
    <%= f.label :note  %>
    <%= f.text_field :comment, class: "form-control"  %>
    <br>
    <%= f.label :image  %>
    <%= f.text_field :picture_path, class: "form-control" %>
    <br>
    <a href="#"><%= f.submit :Submit, class: "button expand" %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
