

<div id="myModal" class="reveal-modal" data-reveal>
 <%= form_for "session", url: users_path, :method=> :post, html: {class: "login"} do |f|%>
    <%= f.label :username  %>
    <%= f.email_field :username, class: "form-control"  %>
    <br>
    <%= f.label :password  %>
    <%= f.password_field :password, class: "form-control" %>
    <br>
    <!-- Expand Class -->
    <a href="#" class="button expand"<%= f.submit "login", class: "submitButton" %>Log In</a>
    <% end %>
</div>