<h1>OUR AMAZING APP</h1>

<a href="#" data-reveal-id="myModal">Sign In</a>

<div id="myModal" class="reveal-modal" data-reveal>
 <%= form_for "session", url: users_path, :method=> :post, html: {class: "login", id: 'loginForm'} do |f|%>

    <%= f.label :username  %>
    <%= f.text_field :username, id: "inputUser"  %>
    <br>
    <%= f.label :password  %>
    <%= f.password_field :password, id: "inputPassword" %>
    <br>

    <!-- Expand Class -->
    <a href="#" class="button expand"<%= f.submit "login", id: 'loginBtn', class: "submitButton" %>Log In</a>
    <% end %>

</div>