<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <h1 class="title">Find Me</h1>
            </section>
          </nav>

          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><a id="signUp" href="#" data-reveal-id="myModalUp">Sign Up</a></li>
              <li><a id="signIn" href="#" data-reveal-id="myModalIn">Sign In</a></li>
              <li><a id="signOut" href="#">Sign Out</a></li>
              <li><a id="viewProfile" href="#">View Profile</a></li>
            </ul>
          </aside>

          <section class="main-section">
          </section>

          <a class="exit-off-canvas"></a>
        </div>
      </div>
    </header>


  <div id="map-canvas"></div>
    <%= yield %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5EIot9mKiTWDrRSMggx8Sqw5EvZal80E"></script>
    // <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    <%= javascript_include_tag "application" %>

  </body>
</html>